* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: chartreuse;
    height: 80px;
    align-items: center;
    padding: 0 25px;
}

.headerLink {
    text-decoration: none;
    margin-left: 10px;
}

/*Hero İmage*/

.hero-image{
    background-image: url('img/banner.jpg'); 
    height: 600px; 
    text-align: center; 
    position: relative;
    width: 100%;
}
.hero-text{
    position: absolute;
    top:50px;
    left: 50px;
    color: rgb(203, 203, 203);
}